@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
* {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
  line-height: 20px;
}

body {
  background-color: #ffffff;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: 400;
  color: #000000;
}

.headline-big {
  font-size: 22vw;
  font-weight: 400;
  line-height: 1;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

p,
ol,
ul {
  font-size: 15px;
  line-height: 20px;
  color: #555555;
  font-weight: 300;
}

.list-with-stroke {
  list-style-type: none;
}

.list-with-stroke li {
  padding: 20px 0;
  border-top: 1px solid #dedede;
}

.list-with-stroke li:last-child {
  border-bottom: 1px solid #dedede;
}

.styled-select {
  position: relative;
}

.styled-select .select-arrow {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 60px;
  background-color: #ffffff;
  text-align: center;
  line-height: 60px;
  border-left: 1px solid #000000;
  pointer-events: none;
}

.styled-select .select-arrow img {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.styled-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  border: 1px solid #000000;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

a {
  color: #555555;
  text-decoration: none;
}

.cart-item-count {
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}

.link-to-cart,
.link-to-home {
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-to-home {
  color: #000000;
  z-index: 100;
}

.link-to-cart .cart-item-count {
  display: block;
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #dedede;
}

.link-to-cart .cart-text {
  margin-right: 10px;
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  white-space: nowrap;
}

.link-to-cart:hover .cart-text {
  opacity: 1;
}

.link-to-cart.cart-filled .cart-item-count {
  width: 20px;
  height: 20px;
  background-color: #ff3700;
  font-size: 12px;
  line-height: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

.two-columns {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.main-content {
  min-height: 100vh;
  padding: 40px;
  width: calc(50% + 20px);
  margin-left: auto;
  -ms-grid-rows: minmax(max-content, auto) minmax(min-content, max-content);
      grid-template-rows: minmax(-webkit-max-content, auto) minmax(-webkit-min-content, -webkit-max-content);
      grid-template-rows: minmax(max-content, auto) minmax(min-content, max-content);
}

.valign-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.valign-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sticky-side-image {
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 40px;
  width: calc(50% - 20px);
}

.sticky-side-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Index Styles */
#product-info-content {
  gap: 20px;
}

.headline {
  padding-bottom: 60px;
  max-width: 25ch;
}

.single-product-image {
  height: 100%;
  width: 100%;
}

.description-content {
  margin-top: 20px;
}

label {
  font-size: 12px;
  color: #707070;
}

#add-to-cart-button .product-price {
  float: right;
}

#add-to-cart-button {
  background-color: #ff3700;
}

#add-to-cart-form {
  margin-top: -20px;
}

.form-wrapper {
  padding-top: 60px;
}

#cart {
  background-color: #bbbbbb;
  color: #ffffff;
}

#cart-title {
  position: relative;
  color: #ffffff;
}

#cart:not(.cart-filled) #cart-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -moz-text-fill-color: transparent;
  -moz-text-stroke-color: #ffffff;
  -moz-text-stroke-width: 2px;
}

#cart-title .cart-item-count {
  -webkit-text-fill-color: initial;
  -moz-text-fill-color: initial;
  display: block;
  font-size: 0.08em;
  border: 2px solid #ffffff;
  width: 2em;
  height: 2em;
  line-height: 2em;
  position: absolute;
  top: 1em;
  right: 0;
}

#cart-empty-lines,
#back-to-fitra {
  -ms-grid-column: 2;
  grid-column: 2;
}

.empty-line {
  border-top: 1px solid #dedede;
  height: 60px;
}

.empty-line:last-child {
  border-bottom: 1px solid #dedede;
}

.empty-line:first-child {
  margin-top: 20px;
}

#back-to-fitra {
  margin-bottom: 20px;
}

#back-to-fitra a {
  color: #ffffff;
}

#cart.cart-filled {
  background-color: #ff3700;
}

#cart.cart-filled .cart-item-count {
  border: 0;
  background-color: #000000;
}

#cart.cart-filled #cart-content {
  padding-bottom: 160px;
  -ms-grid-rows: auto 40px;
      grid-template-rows: auto 40px;
}

#cart-content h2 {
  color: #ffffff;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  font-weight: 300;
  padding: 20px 0;
}

tbody tr {
  border-top: 1px solid #dedede;
}

td {
  padding: 20px 0;
  position: relative;
}

td:last-child {
  text-align: right;
  vertical-align: top;
}

.remove-line {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 40px;
}

.remove-text {
  position: absolute;
  color: #ffffff;
  top: 0;
  right: 100%;
  padding: 20px 0 20px 20px;
  display: none;
  color: #000000;
}

.remove-line:hover .remove-text {
  display: block;
  background-color: #ff3700;
}

#cart-form-wrap {
  grid-row: span 2;
  position: relative;
}

#checkout-button {
  position: absolute;
  width: 100%;
  bottom: -160px;
  left: 0;
}

#cart-support p,
#cart-support a {
  color: inherit;
}

#cart-totals {
  border-bottom: 1px solid #dedede;
}

#content-404 a {
  font-weight: 400;
  color: #ff3700;
}

.grid > * {
  min-width: 0;
  min-height: 0;
}

@media only screen and (max-width: 1023px) {
  .sticky-side-image {
    position: static;
    width: 100%;
    height: 90vw;
  }
  .main-content {
    min-height: 0;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .grid {
    grid-row-gap: 20px;
  }
  .headline {
    padding-bottom: 0;
  }
  .headline-big {
    font-size: 40vw;
  }
  .two-columns {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .form-wrapper {
    height: 123px;
  }
  #add-to-cart-form {
    position: fixed;
    padding: 0 20px;
    background: #ffffff;
    height: 143px;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }
  #cart-lines td:last-child {
    right: 20px;
  }
  #cart.cart-filled #cart-content {
    padding-bottom: 0;
  }
  #checkout-button {
    position: static;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=application.css.map */